@import '__variables';
@import '__mixin';

#header {
  position: sticky;
  top: 0px;
  z-index: 3;
  background-color: $colorTercero;

  .navbar {
    div {
      flex-wrap: nowrap;

      a {
        img {
          width: 80px;
        }
      }

      button {
        outline: none;
        position: relative;
        z-index: 2;
        border: 1px solid $colorSegundo;

        &:focus {
          box-shadow: none;
        }
      }

      .navbar-collapse {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 100%;
        z-index: 1;
        border-bottom: 1px solid #000;
        background-color: $colorCuarto;
        box-shadow: 0px 0px 10px 0px #000;

        ul {
          padding: 5px;
          margin: 5px;
          font-size: 1.2rem;

          li {
            text-align: center;

            a {
              color: $colorSegundo;

              &:hover {
                color: $colorQuinto;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  #header {
    .navbar {
      div {
        .navbar-collapse {
          position: static;
          border: none;
          width: auto;
          z-index: 0;
          flex-grow: inherit;
          background-color: transparent;
          box-shadow: none;
        }
      }
    }
  }
}
