@import '__variables';
@import '__mixin';

.main-menu {
  @include display();
  text-align: center;
  width: 100%;
  margin-top: 20px;
  padding: 10px;

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  .card-group {
    .card {
      img {
        height: 200px;
        object-fit: cover;
      }

      .card-body {
        h5 {
          font-size: 1.2rem;
        }

        p {
          font-size: 1rem;

          small {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

#menu-check:checked ~ .oculto {
  display: block;
}

#menu-check:not(:checked) ~ .oculto {
  display: none;
}

@media screen and (min-width: 992px) {
  .main-menu {
    margin-top: 40px;

    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1.5rem;
    }

    .card-group {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 20px;
      margin-top: 20px;

      .card {
        img {
          height: 300px;
        }

        .card-body {
          h5 {
            font-size: 1.5rem;
          }

          p {
            font-size: 1.2rem;

            small {
              font-size: 1rem;
            }
          }
        }
      }
    }

    .btn {
      display: none;
    }
  }

  #menu-check:checked ~ .oculto {
    display: block;
  }

  #menu-check:not(:checked) ~ .oculto {
    display: block;
  }
}
